<%- include('./partials/head') %>

<section id="smartzones">
  <h1><%= title %></h1>
  <p>
    Hier is een overzicht met smartzones. Je kan ook smartzones sorteren
    op naam, functie, stad en locatie.
  </p>
</section>
<article class="smartzone-buttons">
  <button class="toggle-form-post">Smart zone toevoegen</button>
  <button class="toggle-form-put">Smart zone bewerken</button>
  <button class="toggle-form-delete">Smart zone verwijderen</button>
  <button class="toggle-all-smartzones">Alle smart zones</button>
</article>
<section class="tables">
  <% smartzones.forEach((smartzone) => { %>
    <table>
      <tbody><tr>
          <th>Naam</th>
          <td><%- smartzone.name %></td>
      </tr>
      <tr>
          <th>Stad</th>
          <td><%- smartzone.town %></td>
      </tr>
      <tr>
          <th>Locatie</th>
          <td><%- smartzone.location %></td>
      </tr>
      <tr>
          <th>functie</th>
          <td><%- smartzone.function %></td>
      </tr>
      <tr>
          <th>Tijdstip</th>
          <td><%- smartzone.time %></td>
      </tr>
      <tr>
          <th>Grootte (plek)</th>
          <td><%- smartzone.size %></td>
      </tr>
      <tr>
          <th>Gebruik (%)</th>
          <td><%- smartzone.utilization %></td>
      </tr>
      <tr>
          <th>Omschrijving</th>
          <td><%- smartzone.description %></td>
      </tr>
      </tbody></table>
      <img src="<%- smartzone.image %>">
  <% }) %>
</section>

<%- include('./partials/foot') %>