<%- include('./partials/head') %>

<section id="smartzones">
  <h1><%= title %> <%- name.name %></h1>
  <p>
    Hier is een overzicht met smartzones. Je kan ook smartzones sorteren
    op alle smartzones, naam, functie, stad en locatie.
  </p>
</section>

<article class="smartzone-buttons">
  <a class="button-post" href="/toevoegen">Smart zone toevoegen</a>
  <button class="toggle-form-put">Smart zone bewerken</button>
  <button class="toggle-form-delete">Smart zone verwijderen</button>
</article>

<article class="sorting">
  <a class="white-button" href="/">Terug naar smart zones</a>
  <a class="white-button" href="/smartzones">Alle smart zones</a>
</article>

<section class="tables">
  <table>
    <tbody><tr>
        <th>Naam</th>
        <td><%- name.name %></td>
    </tr>
    <tr>
        <th>Stad</th>
        <td><%- name.town %></td>
    </tr>
    <tr>
        <th>Locatie</th>
        <td><%- name.location %></td>
    </tr>
    <tr>
        <th>functie</th>
        <td><%- name.function %></td>
    </tr>
    <tr>
        <th>Tijdstip</th>
        <td><%- name.time %></td>
    </tr>
    <tr>
        <th>Grootte (plek)</th>
        <td><%- name.size %></td>
    </tr>
    <tr>
        <th>Gebruik (%)</th>
        <td><%- name.utilization %></td>
    </tr>
    <tr>
        <th>Omschrijving</th>
        <td><%- name.description %></td>
    </tr>
    </tbody></table>
    <img src="<%- name.image %>" alt="Google maps afbeelding">
</section>

<%- include('./partials/foot') %>