<%- include('../partials/head') %>

<section id="smartzones">
  <h1><%= title %> <%- name.name %></h1>
</section>

<section class="smartzone-buttons">
  <a class="button-post" href="/toevoegen">Smart zone toevoegen</a>
  <a class="button-put" href="/bewerken">Smart zone bewerken</a>
  <a class="button-delete" href="/verwijderen">Smart zone verwijderen</a>
</section>

<section class="sorting">
  <a class="white-button left-arrow" href="/">Terug naar smart zones</a>
  <a class="white-button right-arrow" href="/smartzones">Alle smart zones</a>
</section>

<section class="tables">
    <table>
        <tbody>
        <tr class="background-image">
					<th><%- name.name %></th>
        </tr>
        <tr>
					<th>Stad</th>
        </tr>
        <tr>
					<td><%- name.town %></td>
        </tr>
        <tr>
					<th>Locatie</th>
        </tr>
        <tr>
					<td><%- name.location %></td>
        </tr>
        <tr>
					<th>functie</th>
        </tr>
        <tr>
					<td><%- name.function %></td>
        </tr>
				<tr>
					<th>Tijdstip</th>
				</tr>
				<tr>
					<td><%- name.time %></td>
				</tr>
				<tr>
					<th>Grootte (plek)</th>
				</tr>
				<tr>
					<td><%- name.size %></td>
				</tr>
				<tr>
					<th>Gebruik (%)</th>
				</tr>
				<tr>
					<td><%- name.utilization %></td>
				</tr>
				<tr>
					<th>Omschrijving</th>
				</tr>
				<tr>
					<td><%- name.description %></td>
				</tr>
      </tbody></table>
      <img class="image-table" src="<%- name.image %>" alt="Google maps afbeelding">
</section>

<%- include('../partials/foot') %>